%h1 User dashboard

= render :partial => 'dashboards/goals', :locals => {:daily_goal => @daily_goal}

%ol
- @meals.each do |meal|
  %li 
    Meal name -->
    = meal.name

= link_to "I've eaten a meal", new_meal_path
